.soc-net {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.soc-net__item {
    width: 44px;
    height: 44px;
}

.soc-net__link {
    width: 100%;
    height: 100%;
    background-color: var(--first-background-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;

    transition-property: background-color, color;
    transition-duration: var(--t-duration);
    transition-timing-function: var(--t-transition);
    transition-delay: 0;

    &:hover,
    &:focus {
        background-color: var(--color-accent);
        color: var(--color-light);
    }
}

.soc-net__icon {
    fill: currentColor;
}