body {
  background-color: var(--first-background-color);

  font-family: 'Roboto', sans-serif;

  @include font(400, 14px, null, 0.03em);

  color: var(--color-primary-dark);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}
