.hero__container {
  padding: 118px 60px;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: var(--hero-gradient), url('../images/webstudio-background_mobile.jpg');

  @include retina {
    background-image: var(--hero-gradient), url('../images/webstudio-background_mobile_2x.jpg');
  }

  @include mobile {
    background-image: var(--hero-gradient), url('../images/webstudio-background_tablett.jpg');

    @include retina {
      background-image: var(--hero-gradient), url('../images/webstudio-background_tablett_2x.jpg');
    }
  }

  @include tablett {
    max-width: 1200px;
    background-image: var(--hero-gradient), url('../images/webstudio-background.jpg');

      @include retina {
      background-image: var(--hero-gradient), url('../images/webstudio-background_2x.jpg');
    }
    padding: 118px 0;
  }

  @include desktop {
    max-width: 1600px;
    padding: 200px 0;
  }
}

.hero__title {
  width: 100%;

  @include font(900, 26px, calc(42 / 26), 0.06em);

  @include tablett {
    width: 360px;
  }

  @include desktop {
    width: 696px;
    @include font(900, 44px, calc(60 / 44), 0.06em);
  }

  text-align: center;
  text-transform: uppercase;

  color: var(--color-light);
  margin: 0 auto 30px auto;
}

.hero__button {
  font-family: inherit;

  @include font(700, 16px, calc(30 / 16), 0.06em);

  align-items: center;
  text-align: center;

  color: var(--color-light);
  cursor: pointer;
  border: 0;
  background-color: var(--color-accent);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 32px;
  display: block;
  margin: 0 auto;

  transition: background-color var(--t-duration) var(--t-transition);

  &:hover {
    background-color: var(--color-accent2);
  }
}
