.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  padding-top: 60px;
  padding-bottom: 40px;

  @include tablett {
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  @include desktop {
    padding-top: 94px;
    padding-bottom: 48px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card {
  width: 100%;

  @include tablett {
    width: 354px;
  }

  @include desktop {
    width: 270px;
  }

  transition: filter var(--t-duration) var(--t-transition);
}

.portfolio-card-popup {
  position: relative;
  overflow: hidden;
}

.portfolio-card-label {
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--color-light);
  position: absolute;
  width: 100%;
  height: 294px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  @include font(null, 18px, 1.556, 0.03em);

  transform: translateY(101%);
  transition: transform var(--t-duration) var(--t-transition);

  .portfolio-list-link:hover &,
  .portfolio-list-link:focus & {
    transform: translateY(0);
  }
}

.portfolio-list-link {
  color: var(--color-primary-dark);
  text-decoration: none;

  transition: filter var(--t-duration) var(--t-transition);

  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
  }
}

.portfolio-project-card {
  padding: 20px 24px;
  background-color: var(--first-background-color);
  border: #eeeeee solid;
  border-width: 0 1px 1px 1px;
}

.portfolio-project-name {
  @include font(700, 18px, 2, 0.06em);
}

.portfolio-project-type {
  @include font(null, 16px, 1.875, null);

  color: var(--color-primary-middle);
}
