.staff {
    background-color: var(--second-background-color);
    padding: 60px 0;

    @include desktop {
            padding: 94px 0;
    }
}

.staff-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.staff-list__item {
    background-color: var(--first-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 100%;
}

.staff-list__image {
    display: block;
    max-width: 450px;
    height: auto;
}

.staff-list__card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.staff-list__name {
    @include font(500, 16px, 1.187, null);
    text-align: center;
    margin-bottom: 10px;
}

.staff-list__jobtitle {
    @include font(null, 16px, 1.187, null);
    text-align: center;
    margin-bottom: 16px;

    color: var(--color-primary-middle);
}